{{#is "post"}}
    {{#get "posts" include="authors" filter="tags:[{{post.tags}}]+id:-{{post.id}}" limit="3" as |next|}}
        {{#if next}}
            <div class="gh-read-next gh-canvas">
                <section class="gh-pagehead">
                    <h4 class="gh-pagehead-title">{{t "Read next"}}</h4>
                </section>

                <div class="gh-related-posts-grid">
                    <div class="gh-related-posts-content">
                        {{#foreach next}}
                            {{> "loop-grid"}}
                        {{/foreach}}
                    </div>
                </div>
            </div>
        {{/if}}
    {{/get}}
{{/is}}