{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">

        <section class="gh-pagehead">
            <h1 class="gh-pagehead-title">
                {{#is "paged"}}
                    更早的文章
                {{else}}
                    {{t "Latest"}}
                {{/is}}
            </h1>
        </section>

        <div class="gh-feed gh-post-grid">
            {{#foreach posts}}
                {{> "loop-card-small"}}
            {{/foreach}}
        </div>

    </div>
</main>