{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">

        <section class="gh-pagehead">
            <h1 class="gh-pagehead-title">{{t "Latest"}}</h1>
        </section>

        <div class="gh-feed gh-post-grid">
            {{#foreach posts}}
                {{> "loop-card-small"}}
            {{/foreach}}
        </div>

    </div>
</main>